<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">Resources</a></h2>
      <li><%= link_to "Connect to a Mentor", connect_path%></li>
      <li><%= link_to "Conferences", conferences_path%></li>
      <li><%= link_to "Articles", articles_path%></li>
      <li><%= link_to "Evaluate a Mentor", evaluations#new%></li>
      </div>
    <div class="post"></div>
  </div>
</div>

