<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">Resources</a>          </h2>
      <li><a href="#"><p>Connect to a Mentor</p> </li>
      <li><a href="#">  <p>Conferences</p></li>
      <li><a href="#"> <p>Fairs</p></li>
      <li><a href="#"> <p>Articles</p></li>
    </div>
    <div class="post"></div>
  </div>
</div>

